# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Minimap Next'
      'submenu': [
        { 'label': 'Toggle', 'command': 'minimap-next:toggle' }
      ]
    ]
  }
]
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Minimap Next'
      'command': 'minimap-next:toggle'
    }
  ]
